<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="Login.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="Login.js"></script>


    <link href="@Url.Content("~/css/Login.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <!-- "~/Styles/main.css" -->
</head>
<body>
    @RenderBody()
</body>
</html>
